<% layout('layout/boilerplate') %>
<div class="col-6 offset align-center">
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p><%= message %></p>
    
  </div>
</div>