<% layout('layout/boilerplate') %>
<div class="container d-flex justify-content-center mb-3" style="max-width: 1500px;">
    <div class="row justify-content-center">
        <div class="w-50">
            <div class="card shadow">
                <img src="https://static.toiimg.com/thumb/msid-86480728,width-748,height-499,resizemode=4,imgsize-198188/.jpg"
                    alt="" class="card-img-top" />
            <h1 class="mx-4 text-center">Login</h1>
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mx-4">
                    <label class="form-label" for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                </div>
                <div class="mx-4">
                    <label class="form-label" for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                </div>
                <div class="mx-4">
                <button class="btn btn-success mt-3 mb-3 w-100 ">Login</button></div>
            </form>
        </div>
        </div>
    </div>
</div>